.login {
  display: grid;
  place-content: center;
  height: 100vh;
  background: color #f2f2f2;
}

.login__container1 {
  display: flex;
  flex-direction: column;
}

.login__container > img {
  object-fit: contain;
  height: 200px;
}

.login__button {
  width: 100%;
}
